sphinx
sphinx-autoapi  # Auto documentation package for api
sphinx_rtd_theme  # Default read the docs theme
sphinxcontrib-napoleon # Napoleon contrib used to generate API doc with google docstrings.
sphinx-multiversion # Adds a version selector on the documentation.
